body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #6a0dad; /* violet background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginScreen {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 320px;
}

#loginScreen input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#loginScreen button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3b0170;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#loginScreen button:hover {
    background-color: #5a02a3;
}

